{{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-block btn-primary mt-3 col-lg-4 float-right" type="submit" formnovalidate data-loading-label="{{ loading|default('user.save_loading'|trans) }}">{{ button|default('user.save_btn'|trans) }}</button>
{{ form_end(form) }}
