<div class="modal fade caert-modal" id="userResetPasswordModal" role="dialog" aria-labelledby="userResetPasswordModalTitle" aria-hidden="true" inert>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" id="userResetPasswordForm" action="#" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="userResetPasswordModalTitle">{{ 'user.password_modal.title'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'common.close'|trans }}"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p class="text-muted small mb-3">
                        {{ 'user.password_modal.intro_prefix'|trans }}
                        <strong id="userResetPasswordName"></strong>
                        (<span id="userResetPasswordEmail"></span>).
                    </p>
                    <input type="hidden" name="_token" id="userResetPasswordToken" value="">
                    <div class="d-flex flex-wrap align-items-center mb-3">
                        <button type="button" class="btn btn-sm btn-outline-primary mr-2 mb-2" id="userResetPasswordGenerate">
                            <em class="fas fa-dice fa-fw"></em> {{ 'user.password_modal.generate'|trans }}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary mr-2 mb-2" id="userResetPasswordToggleVisibility" aria-label="{{ 'user.show_password'|trans }}" title="{{ 'user.show_password'|trans }}">
                            <em class="fas fa-eye fa-fw" id="userResetPasswordToggleIcon" aria-hidden="true"></em>
                            <span id="userResetPasswordToggleLabel">{{ 'user.password_modal.show'|trans }}</span>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary mb-2" id="userResetPasswordCopy" aria-label="{{ 'user.password_modal.copy'|trans }}" title="{{ 'user.password_modal.copy'|trans }}">
                            <em class="fas fa-copy fa-fw" id="userResetPasswordCopyIcon" aria-hidden="true"></em>
                            <span id="userResetPasswordCopyLabel">{{ 'user.password_modal.copy'|trans }}</span>
                        </button>
                    </div>
                    <div class="form-group mb-0">
                        <label for="userResetPasswordPlain">{{ 'user.field.password'|trans }}</label>
                        <input type="password" class="form-control caert-reset-password-field" id="userResetPasswordPlain" name="plainPassword" required minlength="6" autocomplete="new-password" placeholder="{{ 'user.password_modal.placeholder'|trans }}">
                    </div>
                    <div class="custom-control custom-checkbox mt-3 mb-0">
                        <input type="checkbox" class="custom-control-input" id="userResetPasswordSendEmail" name="send_email" value="1">
                        <label class="custom-control-label" for="userResetPasswordSendEmail">{{ 'user.password_modal.send_email'|trans }}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'user.password_modal.cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary" data-loading-label="{{ 'user.password_modal.save_loading'|trans }}">{{ 'user.password_modal.save'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
