{% extends 'base.html.twig' %}

{% block title %}{{ 'auth.forgot_title'|trans }}{% endblock %}

{% block stylesheets %}
   {{ encore_entry_link_tags('forgotten-password') }}
{% endblock %}

{% block body %}
    <div class="wrapper">
      <div class="block-center mt-4 col-lg-8">
         <!-- START card-->
         <div class="card card-flat">
            <div class="card-header text-center bg-dark"><a href="{{path('app_forgotten_password')}}">{{ 'auth.forgot_title'|trans }}</a></div>
            <div class="card-body">
                {% include "_flash_message.html.twig" %}

               <div id="smartwizard">

                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#step-h">
                                {{ 'auth.forgot.mode'|trans }} <br /> <small>{{ 'auth.forgot.mode_hint'|trans }}</small>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#step-a">
                                {{ 'auth.forgot.code_label'|trans }} <br /> <small>{{ 'auth.forgot.code_hint'|trans }}</small>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#step-f">
                                {{ 'auth.forgot.step3'|trans }}
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="step-h" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                            <div class="option-moyen">
                                <input type="radio" id="moyen" name="moyen" value="1" checked> {{ 'auth.forgot.by_mail'|trans }}
                                <input type="radio" id="moyen" name="moyen" value="2" style="margin-left:20px"> {{ 'auth.forgot.by_phone'|trans }}
                            </div>
                            <div id="mail" style="margin-top:30px">
                                <p class="text-center">{{ 'auth.forgot.email_prompt'|trans }}</p>
                                <div id="error-step-1"></div>
                                <div class="form-group"><label class="text-muted" for="resetInputEmail">{{ 'auth.email'|trans }}</label>
                                    <div class="input-group with-focus"><input class="form-control border-right-0" id="email" name="email" type="email" placeholder="{{ 'auth.email_placeholder'|trans }}" autocomplete="off" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text text-muted bg-transparent border-left-0"><em class="fa fa-envelope"></em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="phone" style="display:none;margin-top:30px">
                                <p class="text-center">{{ 'auth.forgot.phone_prompt'|trans }}</p>
                                <div class="form-group"><label class="text-muted" for="resetInputPhone">{{ 'auth.forgot.phone'|trans }}</label>
                                    <div class="input-group with-focus"><input class="form-control border-right-0" id="phone" name="phone" type="number" placeholder="{{ 'auth.forgot.phone_placeholder'|trans }}" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text text-muted bg-transparent border-left-0"><em class="fa fa-phone"></em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step-a" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                            <div style="margin-top:30px">
                                <p class="text-center">{{ 'auth.forgot.code_sent_before'|trans }} <span id="choix">{{ 'auth.forgot.mail'|trans }}</span>{{ 'auth.forgot.code_sent_after'|trans }}</p>
                                <div id="error-step-2"></div>
                                <div class="form-group"><label class="text-muted" for="resetCode">{{ 'auth.forgot.code_label'|trans }}</label>
                                    <div class="input-group with-focus"><input class="form-control border-right-0" id="code" name="code" type="text" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text text-muted bg-transparent border-left-0"><em class="fa fa-code"></em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step-f" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
                            {{ 'auth.forgot.step3'|trans }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        {% include "_short_footer.html.twig" %}
         
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('forgotten-password') }} 
{% endblock %}
