{% extends 'base.html.twig' %}



{% block title %}{{ 'auth.forgot_title'|trans }}{% endblock %}



{% block stylesheets %}

   {{ encore_entry_link_tags('forgotten-password') }}

{% endblock %}



{% block body %}

    <div class="wrapper">

      <div class="block-center mt-4 col-lg-8">

         <div class="card card-flat">

            <div class="card-header text-center bg-dark">

                <a href="{{ path('app_forgotten_password') }}">{{ 'auth.forgot_title'|trans }}</a>

            </div>

            <div class="card-body">

                {% include "_flash_message.html.twig" %}



               <div id="smartwizard">

                    <ul class="nav">

                        <li class="nav-item">

                            <a class="nav-link" href="#step-email">

                                {{ 'auth.forgot.step_email'|trans }}<br />

                                <small>{{ 'auth.forgot.step_email_hint'|trans }}</small>

                            </a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href="#step-code">

                                {{ 'auth.forgot.code_label'|trans }}<br />

                                <small>{{ 'auth.forgot.code_hint'|trans }}</small>

                            </a>

                        </li>

                    </ul>



                    <div class="tab-content">

                        <div id="step-email" class="tab-pane" role="tabpanel">

                            <p class="text-center mt-4">{{ 'auth.forgot.email_prompt'|trans }}</p>

                            <div id="error-step-1" class="text-danger text-center"></div>

                            <input type="hidden" id="forgot-csrf" value="{{ csrf_token('forgot_password') }}">

                            <div class="form-group">

                                <label class="text-muted" for="email">{{ 'auth.email'|trans }}</label>

                                <div class="input-group with-focus">

                                    <input class="form-control border-right-0" id="email" name="email" type="email" placeholder="{{ 'auth.email_placeholder'|trans }}" autocomplete="email" required>

                                    <div class="input-group-append">

                                        <span class="input-group-text text-muted bg-transparent border-left-0"><em class="fa fa-envelope"></em></span>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div id="step-code" class="tab-pane" role="tabpanel">

                            <p class="text-center mt-4">{{ 'auth.forgot.code_sent_email'|trans }}</p>

                            <div id="error-step-2" class="text-danger text-center"></div>

                            <div class="form-group">

                                <label class="text-muted" for="code">{{ 'auth.forgot.code_label'|trans }}</label>

                                <div class="input-group with-focus">

                                    <input class="form-control border-right-0" id="code" name="code" type="text" autocomplete="one-time-code" required>

                                    <div class="input-group-append">

                                        <span class="input-group-text text-muted bg-transparent border-left-0"><em class="fa fa-code"></em></span>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>



                <p class="text-center mt-3 mb-0">

                    <a class="small" href="{{ path('app_login') }}">{{ 'auth.already_account'|trans }}</a>

                </p>

            </div>

        </div>



        {% include "_short_footer.html.twig" %}

{% endblock %}



{% block javascripts %}

    {{ encore_entry_script_tags('forgotten-password') }}

{% endblock %}

