{% extends 'base.html.twig' %}

{% block title %}{{ 'auth.set_password_title'|trans }}{% endblock %}

{% block body %}
    <div class="wrapper">
      <div class="block-center mt-4 wd-xl">
         <!-- START card-->
         <div class="d-flex justify-content-center">
            <div class="p-2">{{ 'auth.welcome_user'|trans({'%name%': user.name}) }}</div>
         </div>
         <div class="card b0">
            <div class="card-body">
               <p class="text-center">{{ 'auth.set_password_subtitle'|trans }}</p>
               {{ form_start(form) }}
                        {# {{ form_row(form.name) }} #}
                    {{ form_rest(form) }}
                    <button class="btn btn-block btn-primary mt-3 col-lg-4 float-right" type="submit" formnovalidate>{{ 'auth.set_password_save'|trans }}</button>
                {{ form_end(form) }}
            </div>
         </div><!-- END card-->
         {% include "_short_footer.html.twig" %}
      </div>
   </div>
{% endblock %}
