<form id="searchForm" action="#" method="POST" class="caert-filter-form" novalidate onsubmit="return false;">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label for="espace">Espace</label>
                <select id="espace" name="espace" class="form-control select2" multiple="">
                    {% for espace in espaces %}
                        <option value="{{ espace.libelle }}">{{ espace.libelle }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label for="region">Région</label>
                <select id="region" name="region" class="form-control select2" multiple="">
                    {% for region in regions %}
                        <option value="{{ region.libelle }}">{{ region.libelle }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label for="pays">Pays</label>
                <select id="pays" name="pays" class="form-control select2" multiple="">
                    {% for pays in lespays %}
                        <option value="{{ pays.libelle }}">{{ pays.libelle }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label for="cible">Cibles</label>
                <select id="cible" name="cible" class="form-control select2" multiple="">
                    {% for cible in cibles %}
                        <option value="{{ cible.libelle }}">{{ cible.libelle }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label for="attaque">Type d'attaque</label>
                <select id="attaque" name="attaque" class="form-control select2" multiple="">
                    {% for attaque in attaques %}
                        <option value="{{ attaque.libelle }}">{{ attaque.libelle }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label for="perpetrateur">Groupe terroriste</label>
                <select id="perpetrateur" name="perpetrateur" class="form-control select2" multiple="">
                    {% for perpetrateur in perpetrateurs %}
                        <option value="{{ perpetrateur.libelle }}">{{ perpetrateur.libelle }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label for="createdAt_start">Date d'attaque (du)</label>
                <div class="input-group date">
                    <input class="form-control js-datepicker" id="createdAt_start" name="createdAt_start" placeholder="jj/mm/aaaa" type="text" autocomplete="off">
                    <div class="input-group-append"><span class="input-group-text"><em class="fas fa-calendar-alt"></em></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label for="createdAt_end">Date d'attaque (au)</label>
                <div class="input-group date">
                    <input class="form-control js-datepicker" id="createdAt_end" name="createdAt_end" placeholder="jj/mm/aaaa" type="text" autocomplete="off">
                    <div class="input-group-append"><span class="input-group-text"><em class="fas fa-calendar-alt"></em></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="caert-filter-actions">
        <button class="btn btn-primary" type="submit">
            <em class="fas fa-search"></em> Rechercher
        </button>
        <button id="resetSearchForm" class="btn btn-outline-secondary" type="button">
            <em class="fas fa-times"></em> Réinitialiser
        </button>
    </div>
</form>