{% extends 'base.html.twig' %}
{% import 'home/_detail_macros.html.twig' as detail %}

{% block title %}{{ 'incident.title'|trans }} #{{ incident.id }}{% endblock %}

{% block body %}
<div class="wrapper">
    {% include "_header.html.twig" %}
    {% include "_aside.html.twig" %}
    <section class="section-container">
        <div class="content-wrapper">
            <div class="content-heading">
                <div>{{ 'incident.title'|trans }} #{{ incident.id }}<small>{{ 'incident.detail.subtitle'|trans }}</small></div>
            </div>
            {% include "_flash_message.html.twig" %}

            {% include 'home/_incident_detail_actions.html.twig' with {
                incident: incident,
                backUrl: backUrl
            } %}

            <div class="caert-panel mb-4">
                <div class="caert-panel-header">
                    <em class="fas fa-fingerprint"></em> {{ 'incident.detail.identification'|trans }}
                </div>
                <div class="caert-panel-body">
                    <div class="row caert-detail-grid">
                        {{ detail.field('incident.field.attack_date'|trans, incident.dateAttaque ? incident.dateAttaque|date('d/m/Y H:i') : null) }}
                        {{ detail.field('incident.field.country'|trans, incident.pays ? incident.pays.libelle : null) }}
                        {{ detail.field('incident.field.locality'|trans, incident.localite) }}
                        {{ detail.field('incident.field.space'|trans, incident.espace ? incident.espace.libelle : null) }}
                        {{ detail.field('incident.field.attack_type'|trans, incident.attaque ? incident.attaque.libelle : null) }}
                        {{ detail.field('incident.field.attack_means'|trans, incident.moyenAttaque ? incident.moyenAttaque.libelle : null) }}
                        {{ detail.field('incident.field.group'|trans, incident.perpetrateur ? incident.perpetrateur.libelle : null) }}
                        {{ detail.field('incident.field.target'|trans, incident.cible ? incident.cible.libelle : null) }}
                        {{ detail.field('incident.field.attack_materials'|trans, incident.materieaux ? incident.materieaux.libelle : null) }}
                        {{ detail.field('incident.field.recovered_materials'|trans, incident.materielAttaque ? incident.materielAttaque.libelle : null) }}
                        {{ detail.fieldWide('incident.field.details'|trans, incident.details) }}
                    </div>
                </div>
            </div>

            <div class="caert-panel mb-4">
                <div class="caert-panel-header">
                    <em class="fas fa-users"></em> {{ 'incident.detail.victims'|trans }}
                </div>
                <div class="caert-panel-body">
                    <div class="row caert-detail-grid">
                        {{ detail.field('incident.field.deaths_civilian'|trans, incident.mortCivil) }}
                        {{ detail.field('incident.field.deaths_military'|trans, incident.mortSecuriteMilitaire) }}
                        {{ detail.field('incident.field.deaths_terrorist'|trans, incident.mortTerroriste) }}
                        {{ detail.field('incident.field.total_deaths'|trans, incident.totalDeces, true) }}
                        {{ detail.field('incident.field.missing_civilian'|trans, incident.disparuCivil) }}
                        {{ detail.field('incident.field.missing_military'|trans, incident.disparuSecuriteMilitaire) }}
                        {{ detail.field('incident.field.missing_terrorist'|trans, incident.disparuTerroriste) }}
                        {{ detail.field('incident.field.total_missing'|trans, incident.totalDisparus, true) }}
                        {{ detail.field('incident.field.injured_civilian'|trans, incident.blesseCivil) }}
                        {{ detail.field('incident.field.injured_military'|trans, incident.blesseSecuriteMilitaire) }}
                        {{ detail.field('incident.field.injured_terrorist'|trans, incident.blesseTerroriste) }}
                        {{ detail.field('incident.field.total_injured'|trans, incident.totalBlesses, true) }}
                        {{ detail.field('incident.field.hostages'|trans, incident.otages) }}
                        {{ detail.field('incident.field.released'|trans, incident.liberes) }}
                        {{ detail.field('incident.field.arrested'|trans, incident.terroristeArretes) }}
                        {{ detail.fieldWide('incident.field.other_victims'|trans, incident.autres) }}
                    </div>
                </div>
            </div>

            <div class="caert-panel mb-4">
                <div class="caert-panel-header">
                    <em class="fas fa-clipboard-check"></em> {{ 'incident.section.followup'|trans }}
                </div>
                <div class="caert-panel-body">
                    <div class="row caert-detail-grid">
                        {{ detail.field('incident.field.entry_by'|trans, incident.user ? incident.user.email : null) }}
                        {{ detail.field('incident.field.entry_at'|trans, incident.createdAt ? incident.createdAt|date('d/m/Y H:i') : null) }}
                        {{ detail.fieldWide('incident.field.remark'|trans, incident.remarque) }}
                        {% if incident.objetRejet %}
                            {{ detail.fieldWide('incident.action.reject_reason'|trans, incident.objetRejet, 'caert-detail-reject') }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "_footer.html.twig" %}
</div>

{% include 'home/_incident_reject_modals.html.twig' with { incident: incident } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            {% if app.request.query.get('reject') %}
                $('#rejectModalDetail').modal('show');
            {% endif %}
            {% if app.request.query.get('reason') %}
                $('#rejectReasonModal').modal('show');
            {% endif %}
        });
    </script>
{% endblock %}
