{% extends 'notification/_layout.html.twig' %}

{% block content %}
<p>Bonjour {{ user.prenoms }} {{ user.name }},</p>
<p>Votre mot de passe sur {{ appName }} a été réinitialisé par un administrateur.</p>
<p><strong>Votre nouveau mot de passe :</strong> {{ plainPassword }}</p>
<p>Vous pouvez vous connecter ici : <a href="{{ loginUrl }}">{{ loginUrl }}</a></p>
<p>Pour votre sécurité, changez ce mot de passe après votre première connexion si possible.</p>
{% endblock %}
