{% extends 'base.html.twig' %}

{% block title %}{{ 'workflow.title'|trans }}{% endblock %}

{% block body %}
<div class="wrapper">
    {% include "_header.html.twig" %}
    {% include "_aside.html.twig" %}

    <section class="section-container">
        <div class="content-wrapper">
            <div class="content-heading">
                <div>{{ 'workflow.title'|trans }} <small>{{ 'workflow.pending_count'|trans({'%count%': total}) }}</small></div>
                <div class="ml-auto">
                    <a href="{{ path('app_home') }}" class="btn btn-sm btn-outline-secondary">
                        <em class="fas fa-list"></em> {{ 'incident.list_title'|trans }}
                    </a>
                    <a href="{{ path('executive_dashboard') }}" class="btn btn-sm btn-outline-primary">
                        {{ 'executive.title'|trans }}
                    </a>
                </div>
            </div>

            {% include "_flash_message.html.twig" %}

            <div class="caert-panel">
                <div class="caert-panel-header">
                    <em class="fas fa-filter"></em> {{ 'incident.filter_title'|trans }}
                </div>
                <div class="caert-panel-body">
                    {% include "workflow/_filter_form.html.twig" %}
                </div>
            </div>

            <div class="caert-panel">
                <div class="caert-panel-header">
                    <em class="fas fa-inbox"></em> {{ 'workflow.pending_panel'|trans }}
                </div>
                <div class="caert-panel-body p-0 pt-3 px-3 pb-3">
                    <div id="pendingValidationTable-wrapper" class="table-responsive">
                        {{ 'common.processing'|trans }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "_footer.html.twig" %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script src="{{ asset('js/caert-inbox-filter.js') }}?v=1"></script>
    <script>
        $(function () {
            $('#pendingValidationTable-wrapper').initDataTables({{ datatable_settings(table) }}, {
                responsive: true,
                processing: true,
                order: [[10, 'desc'], [2, 'desc']],
                language: {
                    emptyTable: {{ 'workflow.empty'|trans|json_encode|raw }},
                    zeroRecords: {{ 'workflow.empty'|trans|json_encode|raw }}
                }
            }).then(function (dt) {
                if (typeof window.caertInitInboxFilter === 'function') {
                    window.caertInitInboxFilter(dt);
                }
            });
        });
    </script>
{% endblock %}
