<div class="btn-group btn-group-sm mb-1 caert-row-actions" role="group">
	<button type="button"
	        class="btn btn-primary dropdown-toggle"
	        data-caert-actions-toggle
	        aria-haspopup="true"
	        aria-expanded="false">
		{{ 'user.actions'|trans }}
	</button>
	<div class="dropdown-menu dropdown-menu-right" role="menu">
		<a class="dropdown-item" href="{{ path('materiel', {materiel: row.id}) }}">{{ 'common.edit'|trans }}</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item text-danger"
		   href="{{ path('deleteMateriel', {materiel: row.id}) }}"
		   onclick="return confirm('{{ 'common.confirm_delete'|trans|e('js') }}');">
			{{ 'common.delete'|trans }}
		</a>
	</div>
</div>
