<aside class="aside-container">
    <div class="aside-inner">
        <nav class="sidebar" data-sidebar-anyclick-close="">
            {% if app.user %}
            <div class="caert-sidebar-user">
                <div class="name">{{ app.user.prenoms }} {{ app.user.name }}</div>
                <div class="role">{{ app.user.profileTranslationKey|trans }}</div>
            </div>
            {% endif %}

            <p class="caert-nav-label">{{ 'nav.main'|trans }}</p>
            <ul class="sidebar-nav">
                <li class="{% if menu in 'dashboard' %}active{% endif %}">
                    <a href="{{ path('app_home') }}" title="{{ 'nav.dashboard'|trans }}">
                        <em class="fas fa-th-large"></em><span>{{ 'nav.dashboard'|trans }}</span>
                    </a>
                </li>
                {% if is_granted('ROLE_STAFF') %}
                <li class="{% if menu == 'workflow' %}active{% endif %}">
                    <a href="{{ path('workflow_inbox') }}" title="{{ 'nav.workflow'|trans }}">
                        <em class="fas fa-inbox"></em><span>{{ 'nav.workflow'|trans }}</span>
                    </a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="{% if menu == 'executive' %}active{% endif %}">
                    <a href="{{ path('executive_dashboard') }}" title="{{ 'nav.executive'|trans }}">
                        <em class="fas fa-chart-bar"></em><span>{{ 'nav.executive'|trans }}</span>
                    </a>
                </li>
                {% endif %}
                <li class="{% if menu in 'graphique' %}active{% endif %}">
                    <a href="{{ path('graphique') }}" title="{{ 'nav.analytics'|trans }}">
                        <em class="fas fa-chart-area"></em><span>{{ 'nav.analytics'|trans }}</span>
                    </a>
                </li>
                <li class="{% if menu == 'map' %}active{% endif %}">
                    <a href="{{ path('app_map') }}" title="{{ 'nav.map'|trans }}">
                        <em class="fas fa-map-marked-alt"></em><span>{{ 'nav.map'|trans }}</span>
                    </a>
                </li>
            </ul>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <p class="caert-nav-label">{{ 'nav.admin'|trans }}</p>
            <ul class="sidebar-nav">
                <li class="{% if menu in 'userRegister, userList' %}active{% endif %}">
                    <a href="#elements" data-caert-nav-collapse class="{% if menu not in 'userRegister, userList' %}collapsed{% endif %}" aria-expanded="{% if menu in 'userRegister, userList' %}true{% else %}false{% endif %}">
                        <em class="fas fa-users"></em><span>{{ 'nav.users'|trans }}</span>
                    </a>
                    <ul class="sidebar-nav sidebar-subnav collapse {% if menu in 'userRegister, userList' %}show{% endif %}" id="elements">
                        <li class="sidebar-subnav-header">{{ 'nav.accounts'|trans }}</li>
                        <li class="{% if menu == 'userList' %}active{% endif %}">
                            <a href="{{ path('app_user_list') }}"><span>{{ 'nav.user_list'|trans }}</span></a>
                        </li>
                        <li class="{% if menu == 'userRegister' %}active{% endif %}">
                            <a href="{{ path('app_register') }}"><span>{{ 'nav.user_add'|trans }}</span></a>
                        </li>
                    </ul>
                </li>
                <li class="{% if menu in 'attaque, materiel, perpetrateur, materielAttaque, moyenAttaque, cible, espace' %}active{% endif %}">
                    <a href="#attaques" data-caert-nav-collapse class="{% if menu not in 'attaque, materiel, perpetrateur, materielAttaque, moyenAttaque, cible, espace' %}collapsed{% endif %}" aria-expanded="{% if menu in 'attaque, materiel, perpetrateur, materielAttaque, moyenAttaque, cible, espace' %}true{% else %}false{% endif %}">
                        <em class="fas fa-cog"></em><span>{{ 'nav.settings'|trans }}</span>
                    </a>
                    <ul class="sidebar-nav sidebar-subnav collapse {% if menu in 'attaque, materiel, perpetrateur, materielAttaque, moyenAttaque, cible, espace' %}show{% endif %}" id="attaques">
                        <li class="sidebar-subnav-header">{{ 'nav.referentials'|trans }}</li>
                        <li class="{% if menu == 'attaque' %}active{% endif %}"><a href="{{ path('attaque') }}"><span>{{ 'nav.attack_types'|trans }}</span></a></li>
                        <li class="{% if menu == 'cible' %}active{% endif %}"><a href="{{ path('cible') }}"><span>{{ 'nav.targets'|trans }}</span></a></li>
                        <li class="{% if menu == 'materiel' %}active{% endif %}"><a href="{{ path('materiel') }}"><span>{{ 'nav.recovered_materials'|trans }}</span></a></li>
                        <li class="{% if menu == 'materielAttaque' %}active{% endif %}"><a href="{{ path('materielAttaque') }}"><span>{{ 'nav.attack_materials'|trans }}</span></a></li>
                        <li class="{% if menu == 'moyenAttaque' %}active{% endif %}"><a href="{{ path('moyenAttaque') }}"><span>{{ 'nav.attack_means'|trans }}</span></a></li>
                        <li class="{% if menu == 'perpetrateur' %}active{% endif %}"><a href="{{ path('perpetrateur') }}"><span>{{ 'nav.groups'|trans }}</span></a></li>
                        <li class="{% if menu == 'espace' %}active{% endif %}"><a href="{{ path('espace') }}"><span>{{ 'nav.space'|trans }}</span></a></li>
                    </ul>
                </li>
                <li class="{% if menu == 'envConfig' %}active{% endif %}">
                    <a href="{{ path('app_env_config') }}" title="{{ 'nav.env_config'|trans }}">
                        <em class="fas fa-server"></em><span>{{ 'nav.env_config'|trans }}</span>
                    </a>
                </li>
            </ul>
            {% endif %}
        </nav>
    </div>
</aside>
