<header class="topnavbar-wrapper">
    <nav class="navbar topnavbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <div class="brand-logo">
                    {% include '_brand_logo.html.twig' with { brand_logo_class: 'caert-brand-logo--header' } %}
                    <span class="caert-brand-text">{{ paramData.object ? paramData.object.name : 'brand.name'|trans }}</span>
                </div>
                <div class="brand-logo-collapsed">
                    <img
                        src="{{ asset('img/auctc-logo-square.png') }}"
                        alt="{{ 'brand.name'|trans }}"
                        class="caert-brand-logo caert-brand-logo--collapsed"
                        width="28"
                        height="28"
                        decoding="async"
                    >
                </div>
            </a>
        </div>
        <ul class="navbar-nav mr-auto flex-row align-items-center">
            <li class="nav-item">
                <a class="nav-link d-none d-md-block d-lg-block d-xl-block" href="javascript:void(0)" data-trigger-resize="" data-toggle-state="aside-collapsed" title="{{ 'nav.collapse_menu'|trans }}">
                    <em class="fas fa-bars"></em>
                </a>
                <a class="nav-link sidebar-toggle d-md-none" href="#" data-toggle-state="aside-toggled" data-no-persist="true" title="{{ 'nav.menu'|trans }}">
                    <em class="fas fa-bars"></em>
                </a>
            </li>
            <li class="nav-item d-none d-md-block">
                <span class="caert-user-pill">
                    <span class="caert-user-avatar">{{ app.user.prenoms|slice(0, 1)|upper }}{{ app.user.name|slice(0, 1)|upper }}</span>
                    {{ app.user.prenoms }} {{ app.user.name }}
                </span>
            </li>
        </ul>
        <ul class="navbar-nav flex-row align-items-center">
            <li class="nav-item mr-2">
                {% include '_locale_switcher.html.twig' %}
            </li>
            <li class="nav-item">
                <a class="nav-link btn-logout" href="{{ path('app_logout') }}">
                    <em class="fas fa-sign-out-alt"></em> {{ 'header.logout'|trans }}
                </a>
            </li>
        </ul>
    </nav>
</header>
